.header{
    font-family: sans-serif;
    height: 40px;
    background:  #CE5B78;
    color: aliceblue;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.header-item{
    transition: .5s;
    display: flex;
    padding-top:3px; 
}

.header-item-toggle{
    transform: rotate(180deg) scale(1);
}

.header-icon-item{
    font-size: 25px;
    opacity: 0.8;
    margin: auto;
    align-items: center;
    transition: .2s;
}

.header-icon-item:hover {
    font-size: 30px;
    opacity: 2;
}


.header-icon-item:focus{outline:none !important;}



